<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Screened</title>
    <!-- CSS only -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plantilla.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
    <a class="navbar-brand" href="#inicio">Screened</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>

  <header id="inicio" class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">Screened</h1>
      <p class="lead">Encuentra el nombre de una película o serie a partir de un fragmento de video.</p>
    </div>
  </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
  <section id="about" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Acerca de</h2>
          <p>En el mercado de aplicaciones móviles de entretenimiento, hemos identificado una oportunidad para resolver un problema común que enfrentan los amantes del cine y las series: ¿cómo encontrar el nombre de una película o serie si solo se tienen fragmentos o pistas? A menudo, los usuarios invierten tiempo y esfuerzo en buscar información sobre contenido cinematográfico basándose en fragmentos, pero con frecuencia encuentran información insuficiente para identificar el contenido deseado, lo que les genera frustración.</p>

          <p>Para abordar este desafío, hemos desarrollado SCREENED, una innovadora aplicación que utiliza tecnología avanzada de reconocimiento de voz e imagen para permitir a los usuarios capturar o subir fragmentos de video de una película o serie que deseen identificar. Nuestra aplicación procesa los clips y realiza una búsqueda exhaustiva en una amplia base de datos de películas y series para encontrar similitudes. Si se encuentra una coincidencia, SCREENED ofrece información detallada acerca de la película o serie, incluyendo título, reparto, sinopsis y su disponibilidad en plataformas de streaming.</p>
            
          
        </div>
        <div class="col-md-6">
            <p>SCREENED se destaca en el mercado gracias a su capacidad para resolver un problema común y real que enfrentan los amantes del cine y las series, brindando una experiencia avanzada y satisfactoria para el usuario. El mercado de aplicaciones móviles de entretenimiento está en constante crecimiento y evolución, con un aumento proyectado en las suscripciones globales de Svod (Subscription Video on Demand) en los próximos años. Aunque existen varias aplicaciones populares de entretenimiento, ninguna ofrece la funcionalidad específica de buscar películas o series a partir de fragmentos, lo que representa una oportunidad para SCREENED.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Contacto</h2>
          <p>Ubicación:</p>
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7932.028725358254!2d-75.57753562767053!3d6.261837807083972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1687448668522!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h2>Formulario de contacto</h2>
          <form id="contactForm" action="" method="POST">
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
              <label for="email">Correo electrónico:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="message">Mensaje:</label>
              <textarea class="form-control" id="message" name="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
</body>
</html>